<div *ngIf="user === undefined">
  <h1>Press Spacebar</h1>
</div>

<div class="info" *ngIf="user">
    <h1>{{ user.FirstName }} {{ user.LastName }}</h1>
  
    <div class="info__card card">
      <div class="card__info-left">

        <img [src]="user.Img" alt="">
        <span>{{ user.FirstName }}</span>

      </div>
  
      <div>
        <span> <label>Gender:</label> {{ user.Gender }}</span>
        <br/>
        <span><label>Region:</label> {{ user.Region }}</span>
        <br/>
        <span><label>Phone:</label> {{ user.Phone }}</span>
        <br/>
        <span><label>Birthday:</label> {{ user.Birthday }}</span>
        <br/>
        <span><label>Email:</label> {{ user.Email }}</span>
        <br/>
        <span><label>Password:</label> {{ user.Password }}</span>
        <br/>
      </div>
    </div>
</div>

<div></div>


