
<div *ngIf="user === undefined">
  <h1>Press Spacebar</h1>
</div>

<div class="info" *ngIf="user">
  <h1>{{ user?.name.first }} {{ user?.name.last }}</h1>

  <div class="info__card">
    <div>
      <div class="">
        <img [src]="user?.picture.medium" alt="">
      </div>
      <span>{{ user?.name.first }}</span>
    </div>

    <div>
      <span>Gender: {{ user?.gender }}</span>
      <br/>
      <span>Region: {{ user?.location.state }}</span>
      <br/>
      <span>Phone: {{ user?.phone }}</span>
      <br/>
      <span>Birthday: </span>
      <br/>
      <span>Email: {{ user?.email }}</span>
      <br/>
      <span>Password: {{ user?.login.password }}</span>
      <br/>
    </div>
  </div>
</div>